{% extends 'base.html' %}


{% block content %}

    {% if messages %}
        {% for message in messages %}
           <div class="alert alert-warning alert-dismissible" role="alert">
               {{ message }}
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
           </div>
        {% endfor %}
    {% endif %}
    
    {% if all_items %}
       <table class="table table-bordered">
           <th><center>Todo Item</center></th>
           <th><center>Status</center></th>
           <th><center>Delete Item</center></th>
           {% for things in all_items %}
              {% if things.completed %}
                 <tr class="table-secondary">
                   <td class="stricker"><a href="{% url 'edit' things.id %}" class="text-decoration-none">{{ things.item }}</a></td>
                   <td><center><a href="{% url 'complete' things.id %}" class="text-decoration-none">Completed</a></center></td>
                   <td><center><a href="{% url 'delete' things.id %}"><button class="btn btn-danger">Delete</button></a></center></td>  
                 </tr>   
              {% else %}
                 <tr>
                   <td><a href="{% url 'edit' things.id %}" class="text-decoration-none">{{ things.item }}</a></td>
                   <td><center><a href="{% url 'completed' things.id %}" class="text-decoration-none">Check to complete</a></center></td>
                   <td><center><a href="{% url 'delete' things.id %}"><button class="btn btn-danger">Delete</button></a></center></td>  
                 </tr>
              {% endif %}     

          {% endfor %}
       </table> 
    {% endif %}

{% endblock %}
